streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
groq
transformers
sentence-transformers
huggingface-hub
qdrant-client
neo4j
rank-bm25
unstructured[all-docs]
python-dotenv
reportlab
faiss-cpu
numpy
pandas
pillow
tiktoken
networkx
requests
pydantic